steps:
    - task: NodeTool@0
      inputs:
          versionSpec: 14.x
      displayName: 'Install Node.js'
    - script: npm ci
      displayName: 'npm ci'
    - script: npm run updateVersion -- --buildNumber $(Build.BuildNumber)
      displayName: 'npm run updateVersion'
      condition: and(succeeded(), eq(${{ parameters.IsPrerelease }}, true))
    - script: npm run build
      displayName: 'npm run build'
    - script: npm run webpack
      displayName: 'npm run webpack'
    - task: CopyFiles@2
      displayName: 'Copy worker files to staging'
      inputs:
          sourceFolder: '$(Build.SourcesDirectory)'
          contents: |
              dist/src/nodejsWorker.js
              dist/src/worker-bundle.js
              LICENSE
              NOTICE.html
              package.json
              worker.config.json
          targetFolder: '$(Build.ArtifactStagingDirectory)/dropInput'
          cleanTargetFolder: true
    - script: npm prune --production
      displayName: 'npm prune --production' # so that only production dependencies are included in SBOM
    - task: NuGetCommand@2
      displayName: 'NuGet pack worker'
      inputs:
          command: pack
          packagesToPack: '$(Build.SourcesDirectory)/Worker.nuspec'
          packDestination: '$(Build.ArtifactStagingDirectory)/dropInput'
          basePath: '$(Build.ArtifactStagingDirectory)/dropInput'
    - script: mkdir dropOutput && mv dropInput/*.nupkg dropOutput
      displayName: 'Move package to dropOutput'
      workingDirectory: '$(Build.ArtifactStagingDirectory)'
