parameters:
    - name: IsPrerelease
      type: boolean
      default: true

trigger:
    batch: true
    branches:
        include:
            - v3.x

# CI only, does not trigger on PRs.
pr: none

schedules:
    - cron: '30 10 * * *'
      displayName: Nightly build
      always: true
      branches:
          include:
              - v3.x

resources:
    repositories:
        - repository: 1es
          type: git
          name: 1ESPipelineTemplates/1ESPipelineTemplates
          ref: refs/tags/release

extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1es
    parameters:
        pool:
            name: 1es-pool-azfunc
            image: 1es-windows-2022
            os: windows

        stages:
            - stage: WindowsUnitTests
              dependsOn: []
              jobs:
                  - template: /azure-pipelines/templates/test.yml@self

            - stage: LinuxUnitTests
              dependsOn: []
              jobs:
                  - template: /azure-pipelines/templates/test.yml@self
              pool:
                  name: 1es-pool-azfunc
                  image: 1es-ubuntu-22.04
                  os: linux

            - stage: Build
              dependsOn: []
              jobs:
                  - job:
                    templateContext:
                        outputs:
                            - output: pipelineArtifact
                              path: $(Build.ArtifactStagingDirectory)/dropOutput
                              artifact: drop
                              sbomBuildDropPath: '$(Build.ArtifactStagingDirectory)/dropInput'
                              sbomPackageName: 'Azure Functions Node.js Worker'
                              # The list of components can't be determined from the webpacked file in the staging dir, so reference the original node_modules folder
                              sbomBuildComponentPath: '$(Build.SourcesDirectory)/node_modules'
                            - output: nuget
                              condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/v3.x'), eq(variables['UPLOADPACKAGETOPRERELEASEFEED'], true))
                              packagesToPush: '$(Build.ArtifactStagingDirectory)/dropOutput/*.nupkg'
                              packageParentPath: '$(Build.ArtifactStagingDirectory)/dropOutput'
                              nuGetFeedType: 'internal'
                              publishVstsFeed: 'e6a70c92-4128-439f-8012-382fe78d6396/f37f760c-aebd-443e-9714-ce725cd427df' # AzureFunctionsPreRelease feed
                              allowPackageConflicts: true
                    steps:
                        - template: /azure-pipelines/templates/build.yml@self
                          parameters:
                              IsPrerelease: ${{ parameters.IsPrerelease }}
